<!-- render new shows button -->
<div class="create_creature">
	<%= render"new_shoes_partial" %>
</div>
<h1>Shoes</h1>
	<%= image_tag @shoe.image_url %>
<h1><%= @shoe.brand %></h1>
<h2>by <%= @shoe.model %></h2>
