<div class="jumbotron">
	<div class="container text-center">
		<h1>Welcome to COOL SHOES</h1>
	</div>
</div>
<div class="container">
	<div class="col-sm-4 col-sm-offset-4">
		<div class="enter-link">
			<%= link_to "Enter", shoes_path, class: "btn btn-primary" %>
		</div>
	</div>
</div>
<br>
<div class="container">
	<div class="col-sm-10 col-sm-offset-1">
		<div class="image">
			<%= image_tag("shoes.jpg") %>	
		</div>
	</div>
</div>